body {
  font-family: "" "Montserrat", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 15px;
  letter-spacing: .05em;
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}



.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
}

.section {
  padding: 90px 0;
  width: 100%;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  width: 100%;
  font-size: 90px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5px;
  text-align: center;
  letter-spacing: .05em;
  color: #333;
}

.title-p {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
  width: 100%;
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, .1);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  padding: 5px;

}



/*------メインビジュアル---------------------------------*/

.main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;

}





.logo {
  position: absolute;
  width: 100%;
  font-size: 140px;
  font-weight: bold;
  padding: 100px;
  z-index: 5;
  top: 15%;
  left: 50%;
  justify-content: center;
  transform: translateX(-50%);
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

}

.logo a {
  color: #333;
}

.gnav {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.gnav-list {
  z-index: 10;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 70px;
}

.gnav-item:not(:last-child) {
  z-index: 10;
  margin-right: 20px;
}

.gnav-item a {
  z-index: 10;
  position: relative;
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #5A3A22;

}

.gnav-item a:focus,
.gnav-item a:hover {
  background-color: #304679;
  color: #C4A484;
  border-radius: 40px 40px 40px 40px;
  padding: 20px;
}



.gnav-item a:active {
  background-color: blue;
  transition: none;
}

.item:not(:last-child) {
  z-index: 10;
  margin-right: 20px;
}

.item a {
  z-index: 10;
  position: relative;
  font-size: 90px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #5A3A22;

}

.item a:focus,
.item a:hover {
  background-color: #304679;
  color: #C4A484;
  border-radius: 40px 40px 40px 40px;
  padding: 20px;
}


.item a:active {
  background-color: blue;
  transition: none;
}

.background-image {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #e6e6e6;
}

.works-name {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 10px;
  margin-top: 5px;
}




/*---About-----------------*/
.profile {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0 auto;
}

.profile-img {
  width: 30%;
  margin: 100px 0 0 0;
  border-radius: 50%;

}

.profile-img img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.profile-body {
  flex: 1;
  margin: 100px 0 0 0;
}

.profile-body h3 {
  font-size: 40px;
  padding: 10px;
}

.profile-body p {
  font-size: 30px;
  line-height: 1.8;
  padding: 20px;

}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

.message {
  display: flex;
  align-items: center;
  gap: -500px;
  max-width: 1340px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 40px;
}

.message-text {
  gap: 5px;
  width: 300%;
}


.message-text h4 {
  margin-bottom: 8px;


}

.message h4 {
  font-size: 40px;
}

.message-more {
  font-size: 30px;
  padding: 5px;
  line-height: 2;
}



img {
  width: 450px;

}

.about-list {
  display: flex;
}

.about-item {
  flex: 1;
  margin: 10px;
}

h5 {
  font-size: 60px;
}

.section-p {
  font-size: 50px;
}

.about-name {
  font-size: 30px;
  padding: 30px;
}

.about-text {
  font-size: 20px;
}

/*--------------------------------
 Skill
---------------------------------*/


/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}

/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #4c4c4c;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-body h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 1em;
}

.article-body img {
  width: 100%;
  height: auto;
}

.article-body h3:not(:first-child) {
  margin-top: 50px;
}

.article-body h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #333;
}

.article-body p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    height: 40vh;
  }

  .mv-container {
    padding: 0 20px;
  }

  .mv-title {
    font-size: 30px;
  }

  .mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mv-text {
    top: 75%;
    font-size: 14px;
    line-height: 1.7;
  }

  /* Works */
  .works-name {
    font-size: 12px;
  }

  .works-info {
    margin-top: 3px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
  }

  .skill-text {
    font-size: 13px;
    line-height: 1.7;
  }

  /* About */
  .profile {
    display: block;
  }

  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
}