@media screen and (min-width: 768px) {


  #menu-sp,
  #nav-sp,
  #logo-sp {
    display: none;
  }
}


body {
  font-family: "" "Montserrat", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 15px;
  letter-spacing: .05em;
  color: #333;
}

a {

  transition: opacity .3s;
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}


/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 0;
}

.section {
  padding: 90px 0;
  width: 100%;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  width: 100%;
  font-size: 80px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  letter-spacing: .05em;
  color: #333;
}

.title-p {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
  height: 80px;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, .1);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  margin-top: -30px;
  color: black;
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  line-height: 1;
  font-size: 35px;
}

.gnav-list {
  margin-top: -30px;
}




.gnav-list {
  display: flex;
  list-style: none;
  gap: 70px;
}

.gnav-item:not(:last-child) {
  z-index: 10;
  margin-right: 20px;
}

.gnav-item a {
  z-index: 10;
  position: relative;
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #5A3A22;

}

.gnav-item a:focus,
.gnav-item a:hover {
  background-color: #304679;
  color: #C4A484;
  border-radius: 40px 40px 40px 40px;
  padding: 20px;
}

.gnav-item a:active {
  background-color: blue;
  transition: none;
}

/*------メインビジュアル---------------------------------*/
.content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

.main-visual {
  background-size: cover;
}

.logo {
  font-size: 140px;
  font-weight: bold;
  text-align: center;

  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.logo a {
  color: #333;
}

.gnav {
  width: 100%;
}

.maingnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  list-style: none;
}

.item a {
  font-size: 90px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  letter-spacing: .05em;
  color: #5A3A22;
}

.item a:focus,
.item a:hover {
  background-color: #304679;
  color: #C4A484;
  border-radius: 40px 40px 40px 40px;
  padding: 20px;
}

.item a:active {
  background-color: blue;
  transition: none;
}

.background-image {
  width: 100%;
  height: 100%;
}

.works-info {
  font-size: 10px;
  margin-top: 5px;
}


/*---About-----------------*/
#about {
  padding-bottom: 0;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.profile-img {
  width: 30%;
  margin: 0 0px 0 0;
  padding: 100px 50px 100px 0;
}

.profile-img img {
  border-radius: 50%;
  height: 100%;
  top: 0;
}

.profile-body {
  flex: 1;
  margin: 100px 0 0 0;
}

.profile-body h3 {
  font-size: 40px;
  padding: 10px;
}

.profile-body p {
  font-size: 30px;
  line-height: 1.8;
  padding: 20px;
  margin: 30px;

}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

.message {
  display: flex;
  align-items: center;
  gap: -500px;
  max-width: 1340px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
  padding: 0 40px;
}

.message-text {
  gap: 5px;
  width: 300%;
}


.message-text h4 {
  margin-bottom: 8px;


}

.message h4 {
  font-size: 35px;

  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.message-img {
  width: 45%;
}

.message-more {
  font-size: 30px;
  padding: 5px;
  line-height: 2;
}





.about-list {
  display: flex;
}

.about-item {
  height: 380px;
  flex: 1;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 5px 7px 15px brown;
  padding: 10px;
}

h5 {
  font-size: 60px;
}

.section-p {
  font-size: 50px;
}

.about-name {
  font-size: 30px;
  padding: 30px;
}

.about-text {
  font-size: 20px;
}

/*--------------------------------
.Skill
---------------------------------*/
.skill-section {
  padding-top: 0;
}

table {
  margin: 0 auto;
}

th {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 10%;
}

td {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  width: 20%;
  height: 100px;
}

tr {
  width: 500px;
}


/*--------------------------------
 Creative
---------------------------------*/
.creative-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.creative-item {
  width: 48%;
}


.creative-item img {
  width: 100%;

}

.creative-item a:hover img {
  border: 10px solid orange;
}

.creative-item a:active img {
  filter: brightness(80%);
}

.creative-group {
  text-align: center;
  font-size: 30px;
  margin: 50px 0 50px 0;

}



.creative-h {
  font-size: 20px;
  padding: 10px;
}

.creative-p {
  font-size: 20px;
  padding: 0 30px 0 0;
}



/*--------------------------------
 Contact
---------------------------------*/
#contact {
  width: 100%;
  min-height: 100%;
  background-image: url(../img/green.png);
  background-size: cover;
  padding: 30px;
}

.contact-form {
  display: flex;
}

.contact-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-right {
  width: 100%;
  padding: 0 20px;
}


label {
  font-size: 60px;
  color: #ffffff;
}

text {
  height: 300px;
}

.contact-textarea {
  background: #ffffff;
  display: block;
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 5px 5px;
}


input {
  background: #ffffff;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  height: 50px;
}

.contact-send {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

submit a:hover {
  background-color: #304679;
  color: #C4A484
}

/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #4c4c4c;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
}

.article-body {
  max-width: 720px;
  margin-top: 150px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.article-body h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 1em;
}

.article-body img {
  width: 100%;
  height: auto;
}

.article-body h3:not(:first-child) {
  margin-top: 50px;
}

.article-body h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #333;
}

.article-body p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}



/* スマートフォン */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .content {
    top: 0;
  }

  .maingnav-list {
    gap: 15px;
  }

  .gnav-item {
    display: none;
  }

  .background-image {
    height: 60vh;
    object-fit: cover;
  }

  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #ffffff;
    height: 70px;
    box-shadow: 0 5px 10px -6px rgba(53, 45, 45, 0.1);
  }

  .header-logo {
    padding: 1px;
    font-size: 14px;
  }

  #menu-sp {
    display: flex;
    padding: 0;
    border: none;
  }

  #nav-sp {
    background-color: aqua;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 99;
    float: right;
  }

  #menu-sp {
    position: fixed;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    z-index: 99;
  }


  #close img {
    position: absolute;
    top: 0px;
    right: 0;
    background-color: rgba(0, 0, 0, .1);
    border: none;
    height: 40px;
  }

  #logo-sp {
    margin: 80px 0 30px 20px;
    font-size: 16px;
    width: 100%;
  }


  #nav-sp nav ul {
    padding-left: 0;
    font-weight: bold;
  }

  #nav-sp nav li {
    list-style: none;
  }

  #nav-sp a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 0 20px 0 20px;
    height: 80px;
    font-size: 40px;
  }

  #nav-sp a:active {
    background-color: #304679;
    color: #bd956c;
    border-radius: 40px 40px 40px 40px;
    padding: 20px;
  }

  /* メインビジュアル*/
  .logo {
    text-align: center;
    width: 100%;
    font-size: 70px;
    padding: 30px;
    top: 30px;
  }

  .gnav-list {
    display: flex;
    flex-direction: column;

    text-align: center;
    padding: 5px;
    gap: 10px;
    top: 10px;
  }



  .item a {
    font-size: 50px;
    padding: 3px;
    top: 30px;
    gap: 1px;
  }

  .title {
    font-size: 65px;
    margin-bottom: 20px;
    text-align: center;
  }

  .title-p {
    font-size: 40px;
    max-width: 800px;
    margin: 0 auto;
  }

  /* About */


  .profile-img {
    width: 100%;
    margin: 0 30px 0 30px;
    padding: 20px 0 10px 0;
    height: 100%;
  }

  .profile-img img {
    border-radius: 50%;
    height: 80%;
    top: 0;
    width: 100%;
    margin: auto;
  }

  .profile h3 {
    font-size: 30px;
    text-align: center;
    margin: 10px 0 10px 0;
  }


  .breaak-point {
    display: inline-block;
  }

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -500px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 0 40px;
  }

  .message-text {
    gap: 8px;
    width: 100%;
  }

  .message h4 {
    font-size: 30px;

  }

  .message-more {
    font-size: 20px;
    padding: 8px;
    line-height: 1.6;
  }

  .about-list {
    display: flex;
    flex-direction: column;
  }

  .about-item {
    height: 300px;
    flex: 1;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    padding: 10px;
  }


  /* creative */
  .creative-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .creative-p {
    font-size: 20px;
    width: 100%;
    padding: 10px;
  }

  /* contact */
  .contact-form {
    display: flex;
    flex-direction: column;
  }


}